service: nosolopau-siestacms
provider:
  name: aws
  runtime: nodejs12.x
  region: ${env:AWS_REGION}
  stage: ${opt:stage, env:ENV, 'dev'}
  environment:
    USE_S3: false
    POSTS_S3_BUCKET: ${self:custom.postsBucket}
    POSTS_FOLDER: './posts/'
    POSTS_PATH: 'posts'
  iamRoleStatements:
    - Effect: "Allow"
      Action: 
       - 's3:GetObject'
       - 's3:ListBucket'
      Resource: 
        - arn:aws:s3:::${self:custom.postsBucket}
        - arn:aws:s3:::${self:custom.postsBucket}/*
plugins:
  - serverless-offline
  - serverless-domain-manager
functions:
  app:
    handler: src/index.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'
custom:
  postsBucket: ${self:service}-posts-${self:provider.stage}
  serverless-offline:
    noPrependStageInUrl: true
  domain: siestacms.com
  customDomain:
    domainName: ${self:provider.stage}.${self:custom.domain}
    certificateName: '*.${self:custom.domain}'
    basePath: ''
    stage: ${self:provider.stage}
    createRoute53Record: true
    endpointType: 'regional'
    autoDomain: false
resources:
  Resources:
    PostsBucket:
      Type: AWS::S3::Bucket
      DeletionPolicy: Retain
      Properties:
        BucketName: ${self:custom.postsBucket}
