body {
    font: 17px Georgia, "Palatino", "Times New Roman", serif;
    color: #333332;
}

a {
    color: #333332;
    text-decoration: none;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.7em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

tt{
    background-color: #eee;
}

pre {
    overflow-x: scroll;
    background-color: #eee;
    padding: 1.6em 0 1.8em;
    border-radius: 10px;
}

footer {
    margin-top: 4em;
    text-align: center;
}

a:hover {
    background-color: #333332;
    color: #fff;
}

main p {
    line-height: 25px;
}

div.text a {
    background-color: #eeeeee;
    font-weight: bold;
}

div.text a:hover {
    color: #eee;
    background-color: #333332;
}

div.post p.date, footer {
    color: #888;
    font-size: 0.8em;
}

div.post {
    margin-top:3em;
}

span.siesta {
    color: #c00;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3em;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 2.2em;
        margin-bottom: 0;
    }
    
    h3 {
        font-size: 1.8em;
        margin-bottom: 1em;
    }
     
    main, footer, header {
        margin: 100px auto 1em auto;
        max-width: 700px;
        width: 100%;
    }
}
