<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>
  </head>
  <body>
    <header>
      <h1><a href="/"><span class="siesta">Siesta</span>CMS</a></h1>
      <div>A lightweight, deadly simple, database free, serverless CMS written in 70 lines of JavaScript, 40 lines of HTML, and 100 lines of CSS</div>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
  </body>
</html>