<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>
  </head>
  <body>
    <header>
      <h1><a href="/"><span class="siesta">Siesta</span>CMS</a></h1>
      <div class="text">
        <p>A lightweight, simple, database free, serverless CMS for lazy people. Written in  <s>70</s> 180 lines of JavaScript, <s>40</s> 70 lines of HTML, and <s>100</s> 80 lines of CSS</p>
        <p><a href="https://github.com/nosolopau/siestacms">GitHub</a></p>
      </div>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
  </body>
</html>